# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.venv/
venv/
ENV/

# IDEs
.vscode/
.idea/

# Streamlit
.streamlit/

# OS
.DS_Store
Thumbs.db

# Data/Artifacts (Optional: keep if you want them on GitHub, but usually models are ignored if large)
# artifacts/*.pkl
# artifacts/rfm_segments.csv
